default:
  suites:
    acceptance:
      paths:
        - '%paths.base%/tests/Acceptance/features'
      contexts:
        - Jgrc\Shop\Acceptance\Context\Infrastructure\SymfonyHttpContext
        - Jgrc\Shop\Acceptance\Context\Infrastructure\SymfonyCliContext
        - Jgrc\Shop\Acceptance\Context\Infrastructure\DataBaseContext
        - Jgrc\Shop\Acceptance\Context\Infrastructure\ElasticContext
        - Jgrc\Shop\Acceptance\Context\Infrastructure\ClockContext
        - Jgrc\Shop\Acceptance\Context\Infrastructure\RandomContext
        - Jgrc\Shop\Acceptance\Context\Domain\CategoryContext
        - Jgrc\Shop\Acceptance\Context\Domain\ProductContext
  extensions:
    FriendsOfBehat\SymfonyExtension:
      bootstrap: tests/bootstrap.php
      kernel:
        environment: test
        class: Jgrc\Shop\Infrastructure\Symfony\Kernel
        path: src/Infrastructure/Symfony/Kernel.php
  formatters:
    progress: true
