parameters:
	level: max
	paths:
		- src
		- tests
	ignoreErrors:
	    -
	        message: '#should return string but returns array\|string#'
	        path: tests/Tool/Stub
	    -
	        message: '#Call to an undefined method [a-zA-Z0-9\\_]+::method\(\)#'
	        path: tests/Unit
	    -
	        message: '#Call to an undefined method [a-zA-Z0-9\\_]+::expects\(\)#'
	        path: tests/Unit
